# Dépendances
node_modules/

# Build
dist/
build/

# Couverture de tests
coverage/

# Fichiers de logs
*.log
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs
.idea/
.vscode/
*.swp
*.swo

# Variables d'environnement
.env
.env.local
